@tailwind base;
@tailwind components;
@tailwind utilities;


/*===========================
    Custom CSS
============================*/

@font-face {
  font-family: "Eurostile";
  font-style: normal;
  font-weight: normal;
  src: local("Eurostile"), url("/public/fonts/eurostile.woff") format("woff");
}

@font-face {
  font-family: "EuroStyle";
  font-style: normal;
  font-weight: normal;
  src: local("EuroStyle Normal"),
    url("/public//fonts/EuroStyle\ Normal.woff") format("woff");
}

::-webkit-scrollbar {
  display: none;
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.line::after {
  content: "";
  background-color: aqua;
  height: 3px;
  width: 15%;
  display: flex;
  flex-direction: column;
  transform: translateY();
}

/* Button CSS */
.tg {
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  /* -webkit-user-select: none; */
}
